[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
skorch = "*"

[packages]
modal = "*"
torch = "*"
torchvision = "*"
scikit-learn = "*"
tqdm = "*"
pandas = "*"
numpy = "*"
nlpaug = "*"

[requires]
python_version = "3.7"
